h1 Dashboard
a(href="/room/create") Create a Room
h3 Or join one
ul.room-list
- for (var x = 0; x < list.length; x++)
  li
    a(href="/room/#{list[x].id}") #{list[x].name}
script(src="/js/jquery-1.10.2.min.js")
script(src="/socket.io/socket.io.js")
script.
  io = io.connect()
  io.on('update:room-list', function (data){
    var list = data.list;
    $('.room-list').html('');
    list.forEach(function(item){
      $('.room-list').append('<li><a href="/room/'+item.id+'">'+item.name+'</a></li>');
    });
  });
