h1 Room #{id}
ul.player-list
- for (var x = 0; x < list.length; x++)
  li #{list[x]}
script(src="/js/jquery-1.10.2.min.js")
script(src="/socket.io/socket.io.js")

if user.uid == room
  script.
    io = io.connect()
    io.on('update:player-list', function (data){
      var list = data.list;
      $('.player-list').html('');
      list.forEach(function(item){
        $('.player-list').append('<li>'+item.name+'</li>');
      });
    });
    io.emit('create:room', {}, function (d){ });
else
  script.
    io = io.connect()
    io.on('update:player-list', function (data){
      var list = data.list;
      $('.player-list').html('');
      list.forEach(function(item){
        $('.player-list').append('<li>'+item.name+'</li>');
      });
    });
    io.emit('join:room', {room: '#{room}'}, function (d){ });
